.sepp__profile {
  flex: 1;
  @media screen and (max-width: 1200px) {
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 550px) {
    width: 50px;
    // padding: 10px;
  }

  @media screen and (max-width: 400px) {
  }
}

.sepp__profile-user--profile {
  height: 98%;
  // margin-top: 2rem;
  background: #eadded;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1200px) {
  }

  @media screen and (max-width: 768px) {
    // margin-left: -1rem;
  }

  @media screen and (max-width: 550px) {
  }

  @media screen and (max-width: 400px) {
  }
}
