.sepp_result-container {
  // margin: 0 20px 20px 20px;
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  // border-radius: 10px;
  background-color: #f9f9f9;

  @media screen and (max-width: 1200px) {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
  }

  @media screen and (max-width: 768px) {
    margin: 0;
  }

  @media screen and (max-width: 550px) {
  }

  @media screen and (max-width: 400px) {
  }
}

.sepp_result-container h3 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #470647;
  font-size: 1.2rem;

  @media screen and (max-width: 1200px) {
    font-size: 1.1rem;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    margin-bottom: 3px;
    margin-top: 3px;
  }

  @media screen and (max-width: 550px) {
    // font-size: 0.5rem;
    // margin-bottom: 2px;
    // margin-top: 2px;
  }

  @media screen and (max-width: 400px) {
    // font-size: 0.3rem;
  }
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.8rem;

  @media screen and (max-width: 1200px) {
    font-size: 0.75rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
  }

  @media screen and (max-width: 550px) {
    // font-size: 0.5rem;
  }

  @media screen and (max-width: 400px) {
    // font-size: 0.3rem;
  }
}

thead {
  background-color: rgb(201, 135, 201);
  color: white;
  font-size: 0.8rem;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem;
  }

  @media screen and (max-width: 550px) {
    // font-size: 0.6rem;
  }

  @media screen and (max-width: 400px) {
    // font-size: 0.5rem;
  }
}

th,
td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 0.75rem;

  @media screen and (max-width: 1200px) {
    padding: 4px;
    font-size: 0.6rem;
  }

  @media screen and (max-width: 768px) {
    padding: 3px;
    font-size: 0.5rem;
  }

  @media screen and (max-width: 550px) {
    padding: 1px;
    font-size: 0.45rem;
    font-weight: 700;
  }

  @media screen and (max-width: 400px) {
    padding: 0;
    // font-size: 0.25rem;
  }
}
td {
  @media screen and (max-width: 1200px) {
  }

  @media screen and (max-width: 768px) {
  }

  @media screen and (max-width: 550px) {
    font-size: 0.55rem;
    font-weight: 700;
  }

  @media screen and (max-width: 400px) {
  }
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  @media screen and (max-width: 1200px) {
    margin-top: 8px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 6px;
  }

  @media screen and (max-width: 550px) {
    margin-top: 2px;
  }

  @media screen and (max-width: 400px) {
    margin-top: 0;
  }
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 550px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.pagination li {
  margin: 0 2px;
  padding: 2px 4px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: white;
  transition: background-color 0.3s;
  font-size: 0.7rem;

  @media screen and (max-width: 1200px) {
    padding: 2px 4px;
  }

  @media screen and (max-width: 768px) {
    padding: 1px 3px;
  }

  @media screen and (max-width: 550px) {
    padding: 1px 2px;
    margin: 1px;
  }

  @media screen and (max-width: 400px) {
    padding: 1px 2px;
    margin: 1px;
    font-size: 0.3rem;
  }
}

.pagination li:hover {
  background-color: #f2f2f2;
}

.pagination li.active {
  background-color: rgb(201, 135, 201);
  color: white;
  border: 1px solid rgb(201, 135, 201);
}

button {
  padding: 2px 4px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: white;
  transition: background-color 0.3s;
  font-size: 0.7rem;

  @media screen and (max-width: 1200px) {
    padding: 2px 4px;
    margin: 0 3px;
  }

  @media screen and (max-width: 768px) {
    padding: 1px 3px;
    margin: 0 2px;
  }

  @media screen and (max-width: 550px) {
    padding: 1px 2px;
    margin: 0 1px;
  }

  @media screen and (max-width: 400px) {
    padding: 1px 2px;
    margin: 0 1px;
    font-size: 0.3rem;
  }
}

button:hover {
  background-color: #f2f2f2;
}

button:disabled {
  cursor: not-allowed;
  background-color: #e9e9e9;
  border: 1px solid #ccc;
}
