.sepp__nothing {
  display: flex;
  margin-top: -5rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 1.2rem;
  color: #470647;
  background-color: #f9f9f9;

  @media (max-width: 550px) {
    font-size: 0.8rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 0.6rem;
  }
}
