.sepp__profileheader--header {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sepp__profileheader--edit {
  background: #eadded;
  padding: 12px;
  border-radius: 10px;
  color: #470647;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sepp__profileheader--edit .sepp__profileheader--icon {
  font-size: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.sepp__profileheader--title {
  color: #470647;
}
