* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: #fbf3ff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section__padding {
  padding: 5rem 2rem;
}

.sepp__reset-password {
  text-align: center;
}

.sepp__reset-password-container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.sepp__reset-password-header {
  margin-bottom: 2rem;
}

.gradient__text {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  -webkit-background-clip: text;
  color: transparent;
}

.sepp__reset-password-form-container {
  text-align: left;
}

.sepp__reset-password-form {
  display: flex;
  flex-direction: column;
}

.sepp__form-group {
  margin-bottom: 1rem;
}

.sepp__form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: blueviolet;
}

.sepp__form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sepp__form-error {
  color: red;
  font-size: 0.875rem;
}

.sepp__form-button {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.sepp__form-button:hover {
  background: linear-gradient(45deg, #c85bff, #b726ff);
}

.sepp__form-button:focus {
  outline: none;
}
