.sepp__profile-user--detail {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 768px) {
    height: 180px; // Reduce height for smaller screens
  }
  @media (max-width: 550px) {
    height: 100px;
  }
}

.sepp__profile-user--detail img {
  background: #fff;
  border-radius: 50%;
  width: 120px;
  height: 125px;

  @media (max-width: 768px) {
    width: 100px; // Reduce image size for smaller screens
    height: 100px;
  }

  @media (max-width: 550px) {
    width: 80px; // Further reduce image size for very small screens
    height: 80px;
  }
}

.sepp__profile-username {
  font-weight: 600;
  color: #470647;
  margin-top: -3px;

  @media (max-width: 768px) {
    font-size: 14px; // Reduce font size for smaller screens
    margin-top: -1px;
  }

  @media (max-width: 550px) {
    margin-top: 1px;
    font-size: 8px; // Further reduce font size for very small screens
  }
}

.sepp__profile-category {
  color: #470647;
  margin-top: -10px;

  @media (max-width: 768px) {
    font-size: 10px; // Reduce font size for smaller screens
  }

  @media (max-width: 550px) {
    font-size: 6px; // Further reduce font size for very small screens
  }
}

.profile-picture-wrapper {
  position: relative;
  width: 120px;
  height: 125px;

  @media (max-width: 768px) {
    width: 100px; // Reduce wrapper size for smaller screens
    height: 100px;
  }

  @media (max-width: 550px) {
    width: 50px; // Further reduce wrapper size for very small screens
    height: 50px;
  }
}
.profile-picture-wrapper img {
  @media (max-width: 768px) {
    width: 100px; // Reduce wrapper size for smaller screens
    height: 100px;
  }

  @media (max-width: 550px) {
    width: 50px; // Further reduce wrapper size for very small screens
    height: 50px;
  }
}

.sepp__profile-user--profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;

  @media (max-width: 768px) {
    // width: 75%;
    // height: 75%;
  }

  @media (max-width: 550px) {
    // width: 50%;
    // height: 50%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;

  @media (max-width: 768px) {
    font-size: 20px; // Reduce overlay icon size for smaller screens
  }

  @media (max-width: 550px) {
    font-size: 16px; // Further reduce overlay icon size for very small screens
  }
}

.profile-picture-wrapper:hover .overlay {
  opacity: 1;
}

.upload-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 20px; // Reduce upload icon size for smaller screens
  }

  @media (max-width: 550px) {
    font-size: 16px; // Further reduce upload icon size for very small screens
  }
}
